<h1> Total Gryffindor Members: <%= @members.count %> </h1>

<% @members.each do |member| %>
  <ul class="member">
    <li class="name"><%= member.name %></li>
    <li class="house"><%= member.house %></li>
  </ul>
<% end %>
